<div class="home">
  <div class="menu">
    <div class="menu-icon">
      <img class="aspire-menu-icon" src="assets/Aspire_Logo_Green.svg">

      <div class="menu-text">
        Trusted way of banking for 3,000+ SMEs and startups in Singapore
      </div>
    </div>

    <app-main-menu></app-main-menu>
  </div>

  <div class="content">
    <div class="balance-header">
      <div class="text-icon-section">
        <div class="balance-text">Available balance</div>

        <img *ngIf="false" src="">
      </div>

      <div class="balance-card-add-section">
        <div class="balance-info">
          <div class="currency-icon">S$</div>
          <div class="balance-amount">{{balance}}</div>
        </div>

        <div class="card-add-btn">
          <button class="new-card-btn" (click)="addNewCard()">
            <img class="plus-icon" src="assets/Plus.svg">
            <div class="new-card-btn-text">New card</div>
          </button>
        </div>
      </div>
    </div>

    <div class="content-list">
      <button class="content-item" *ngFor="let item of contentItems; let i=index"
        [ngClass]="selectedContentItem === i ? 'content-item-active' : 'content-item-inactive'">
        {{item}}
      </button>
    </div>

    <div class="content-section">
      <app-debit-cards [cards]="cards"></app-debit-cards>
    </div>
  </div>
</div>
